In [66]:
import pandas as pd

In [67]:
vegas = pd.read_csv('data/vegas.csv')

In [68]:
vegas.head()

,address,attributes,attributes_AcceptsInsurance,attributes_AgesAllowed,attributes_Alcohol,attributes_Ambience,attributes_BYOB,attributes_BYOBCorkage,attributes_BestNights,attributes_BikeParking,...,hours_Wednesday,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,703 N Rancho Dr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,36.178348,-115.176916,Citi Trends,NaN,89106.0,4,4.0,NV
1,1549 N Rancho Dr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10:0-18:0,1,36.188386,-115.186124,Nevada Title And Payday Loans,NaN,89106.0,4,1.0,NV
2,"3940 Martin Luther King Blvd, Ste 101",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,...,11:0-18:0,0,36.192284,-115.159272,CakesbyToi,NaN,89106.0,3,1.5,NV
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,36.260816,-115.171130,Park Stone Pavers,NaN,89031.0,20,5.0,NV
4,2255 N Rampart Blvd,NaN,NaN,NaN,none,"{'romantic': False, 'intimate': False, 'classy...",NaN,NaN,NaN,True,...,9:0-21:0,1,36.201794,-115.281981,Subway,Summerlin,89128.0,13,2.5,NV

In [69]:
vegas.columns

Index(['address', 'attributes', 'attributes_AcceptsInsurance',
       'attributes_AgesAllowed', 'attributes_Alcohol', 'attributes_Ambience',
       'attributes_BYOB', 'attributes_BYOBCorkage', 'attributes_BestNights',
       'attributes_BikeParking', 'attributes_BusinessAcceptsBitcoin',
       'attributes_BusinessAcceptsCreditCards', 'attributes_BusinessParking',
       'attributes_ByAppointmentOnly', 'attributes_Caters',
       'attributes_CoatCheck', 'attributes_Corkage',
       'attributes_DietaryRestrictions', 'attributes_DogsAllowed',
       'attributes_DriveThru', 'attributes_GoodForDancing',
       'attributes_GoodForKids', 'attributes_GoodForMeal',
       'attributes_HairSpecializesIn', 'attributes_HappyHour',
       'attributes_HasTV', 'attributes_Music', 'attributes_NoiseLevel',
       'attributes_Open24Hours', 'attributes_OutdoorSeating',
       'attributes_RestaurantsAttire', 'attributes_RestaurantsCounterService',
       'attributes_RestaurantsDelivery', 'attributes_RestaurantsGoodForGroups',
       'attributes_RestaurantsPriceRange2',
       'attributes_RestaurantsReservations',
       'attributes_RestaurantsTableService', 'attributes_RestaurantsTakeOut',
       'attributes_Smoking', 'attributes_WheelchairAccessible',
       'attributes_WiFi', 'business_id', 'categories', 'city', 'hours',
       'hours_Friday', 'hours_Monday', 'hours_Saturday', 'hours_Sunday',
       'hours_Thursday', 'hours_Tuesday', 'hours_Wednesday', 'is_open',
       'latitude', 'longitude', 'name', 'neighborhood', 'postal_code',
       'review_count', 'stars', 'state'],
      dtype='object')

In [70]:
vegas.categories.fillna('None', inplace = True)

In [71]:
high_level_cat = {
'Active Life' :'active',
'Arts & Entertainment' :'arts',
'Automotive': 'auto',
'Beauty & Spas': 'beautysvc',
'Education' :'education',
'Event Planning & Services' :'eventservices',
'Financial Services' :'financialservices',
'Food' : 'restaurants', #food
'Health & Medical' :'health',
'Home Services' :'homeservices',
'Hotels & Travel' :'hotelstravel',
'Local Flavor' :'localflavor',
'Local Services' :'localservices',
'Mass Media' :'massmedia',
'Nightlife' :'nightlife',
'Pets' :'pets',
'Professional Services' : 'professional',
'Public Services & Government' : 'publicservicesgovt',
'Real Estate' :'realestate',
'Religious Organizations' :'religiousorgs',
'Restaurants' :'restaurants',
'Shopping' :'shopping'
}

In [72]:
def filter_category(list_cat):
    new_cat = ''
    for k,v in high_level_cat.items():
        if k in list_cat and v not in new_cat:
            if new_cat != '':
                new_cat=new_cat+','+v
            else:
                new_cat=new_cat+v
    return new_cat

In [73]:
vegas['category'] = vegas.categories.apply(filter_category)

In [75]:
vegas[['category', 'categories']].head(10)

,category,categories
0,shopping,"Shopping, Fashion, Department Stores"
1,financialservices,"Financial Services, Check Cashing/Pay-day Loan..."
2,restaurants,"American (Traditional), Food, Bakeries, Restau..."
3,"homeservices,professional","Home Services, Masonry/Concrete, Professional ..."
4,restaurants,"Fast Food, Restaurants, Sandwiches"
5,restaurants,"Beer, Wine & Spirits, Italian, Food, American ..."
6,beautysvc,"Hair Salons, Beauty & Spas"
7,homeservices,"Flooring, Cabinetry, Refinishing Services, Hom..."
8,shopping,"Thrift Stores, Shopping, Used, Vintage & Consi..."
9,"active,auto,hotelstravel","Motorcycle Rental, Active Life, Motorcycle Dea..."

In [78]:
vegas.drop(['categories'], axis=1, inplace = True)

In [79]:
df_rest = vegas[vegas.category == 'restaurants']

In [81]:
df_rest.shape

(6535, 61)

In [91]:
df_sum = pd.DataFrame(df_rest.isnull().sum(), columns = ['missing_count'])
df_sum.sort_values(by='missing_count')
df_sum.to_csv('data/rest_missing_data.csv')

In [87]:
df_sum

                                          0
address                                  97
attributes                             6535
attributes_AcceptsInsurance            6535
attributes_AgesAllowed                 6535
attributes_Alcohol                     2007
attributes_Ambience                    2087
attributes_BYOB                        6365
attributes_BYOBCorkage                 6278
attributes_BestNights                  6535
attributes_BikeParking                 1789
attributes_BusinessAcceptsBitcoin      5961
attributes_BusinessAcceptsCreditCards   243
attributes_BusinessParking              710
attributes_ByAppointmentOnly           6408
attributes_Caters                      2154
attributes_CoatCheck                   6535
attributes_Corkage                     6370
attributes_DietaryRestrictions         6526
attributes_DogsAllowed                 5812
attributes_DriveThru                   5539
attributes_GoodForDancing              6535
attributes_GoodForKids                 1615
attributes_GoodForMeal                 1683
attributes_HairSpecializesIn           6535
attributes_HappyHour                   6535
attributes_HasTV                       2089
attributes_Music                       6535
attributes_NoiseLevel                  2491
attributes_Open24Hours                 6477
attributes_OutdoorSeating              1452
...                                     ...
attributes_RestaurantsCounterService   6464
attributes_RestaurantsDelivery         1503
attributes_RestaurantsGoodForGroups    1617
attributes_RestaurantsPriceRange2       330
attributes_RestaurantsReservations     1675
attributes_RestaurantsTableService     2124
attributes_RestaurantsTakeOut           703
attributes_Smoking                     6535
attributes_WheelchairAccessible        3281
attributes_WiFi                        1842
business_id                               0
city                                      0
hours                                  6535
hours_Friday                           1713
hours_Monday                           1862
hours_Saturday                         1791
hours_Sunday                           2088
hours_Thursday                         1732
hours_Tuesday                          1782
hours_Wednesday                        1737
is_open                                   0
latitude                                  1
longitude                                 0
name                                      0
neighborhood                           1244
postal_code                              20
review_count                              0
stars                                     0
state                                     0
category                                  0

[61 rows x 1 columns]

In [27]:
list_categories = []
for cat in data['categories']:
    cats = cat.split(',')
    for c in cats:
        c = c.lower().strip()
        if c not in list_categories:
            list_categories.append(c)

In [29]:
len(list_categories)

1158

In [34]:
rest = data[data.attributes_GoodForMeal.isnull()==False]

In [35]:
list_categories = []
for cat in rest['categories']:
    cats = cat.split(',')
    for c in cats:
        c = c.lower().strip()
        if c not in list_categories:
            list_categories.append(c)

In [37]:
len(list_categories)

306